body {
    background-color: #f8f9fa;
}

.navbar {
    background-color: #FFAA33;
}

.navbar-brand, .nav-link {
    color: #fff !important;
}

.card {
    border-radius: 0.5rem;
}

.card-header {
    background-color: #FFAA33; 
    color: #fff; 
}

.btn-primary {
    background-color: #FFAA33;
    color: #fff;
    border-color: #FFAA33;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
    background-color: #FFAA33; 
    border-color: #FFAA33; 
    box-shadow: none; 
}

.btn-primary:active {
    background-color: #FFAA33;
    border-color: #FFAA33; 
    opacity: 0.8;
}

.text-danger {
    color: #dc3545;
}

.text-success {
    color: #28a745;
}

.error {
    font-size: 0.875rem;
}

/* Chat messages style */
.chat-box {
    background-color: #e5ddd5;
    padding: 10px;
    border-radius: 5px;
}

/* User message bubble */
.message.user {
    background-color: #f8dc26;
    border-radius: 8px;
    padding: 10px;
    max-width: 70%;
    margin: 5px 0;
    align-self: flex-end;
    word-wrap: break-word;
}

/* Admin message bubble */
.message.admin {
    background-color: #fff;
    border-radius: 8px;
    padding: 10px;
    max-width: 70%;
    margin: 5px 0;
    align-self: flex-start;
    word-wrap: break-word;
}

/* General chat styling */
#chat-messages {
    display: flex;
    flex-direction: column;
}

/* Chat input area */
#chat-input-section {
    display: flex;
    align-items: center;
    gap: 10px;
}

#adminMessage {
    resize: none;
    border-radius: 20px;
    padding: 10px;
}

/* Date Divider */
.date-divider {
    text-align: center;
    color: #555;
    font-size: 0.8rem;
    margin: 10px auto; /* Centers the date */
    font-weight: bold;
    display: block; /* Ensures it takes full width */
}

.message-time {
    font-size: 0.5rem;
    text-align: right;
    display: block;
}
