body {
    background-color: #f8f9fa;
}

.navbar {
    background-color: #FFAA33;
}

.navbar-brand, .nav-link {
    color: #fff !important;
}

.card {
    border-radius: 0.5rem;
}

.card-header {
    background-color: #FFAA33; 
    color: #fff; 
}

.btn-primary {
    background-color: #FFAA33;
    color: #fff;
    border-color: #FFAA33;
}

.btn-primary:hover {
    background-color: #f59611;
    border-color: #f59611;
}

.text-danger {
    color: #dc3545;
}

.text-success {
    color: #28a745;
}

.error {
    font-size: 0.875rem;
}
