body {
    background-color: #f8f9fa;
}

.navbar {
    background-color: #FFAA33;
}



/* Tab navigation styling */
.nav-tabs .nav-link {
    color: #555; 
    background-color: #f8f9fa;
    border: 1px solid #ddd; 
    border-radius: 0;
}

.nav-tabs .nav-link.active {
    color: #fff; 
    background-color: #FFAA33;
    border-color: #FFAA33; 
    border-radius: 0;
}

.card {
    border-radius: 0.5rem;
}

.card-header {
    background-color: #FFAA33; 
    color: #fff; 
}

/* Chat box style */
.chat-box {
    background-color: #e5ddd5;
    padding: 10px;
    border-radius: 5px;
    height: 300px;
    overflow-y: auto;
}

/* User message bubble */
.message.user {
    background-color: #fff;
    border-radius: 8px;
    padding: 10px;
    max-width: 70%;
    margin: 5px 0;
    align-self: flex-start;
    word-wrap: break-word;
}

/* Admin message bubble */
.message.admin {
    background-color: #f8dc26;
    border-radius: 8px;
    padding: 10px;
    max-width: 70%;
    margin: 5px 0;
    align-self: flex-end;
    word-wrap: break-word;
}

/* General chat styling */
#chat-messages {
    display: flex;
    flex-direction: column;
    background-color: #e5ddd5; /* Matching the chat box background */
    padding: 10px;
    border-radius: 8px;
}

/* Chat input area */
#chat-input-section {
    display: flex;
    align-items: center;
    gap: 10px;
}

#adminMessage {
    resize: none;
    border-radius: 20px;
    padding: 10px;
    width: 100%;
}

/* Date Divider */
.date-divider {
    text-align: center;
    color: #555;
    font-size: 0.8rem;
    margin: 10px auto; 
    font-weight: bold;
    display: block; 
}

/* Time below each message */
.message-time {
    font-size: 0.7rem;
    text-align: right;
    display: block;
    color: #888;
}


/* Styling for the admin name in messages */
.message .admin-name {
    font-size: 0.8rem; 
    color: rgb(91, 89, 89); 
}


.message .message-text {
    font-size: 1rem; 
}


.message.admin {
    background-color: #f8dc26;
    border-radius: 8px;
    padding: 10px;
    max-width: 70%;
    margin: 5px 0;
    align-self: flex-end;
    word-wrap: break-word;
}
